<!DOCTYPE html>
<html ng-app="projBoard">
<head>
    <meta charset="UTF-8">
    <title>HN.PB</title>

    <!-- dependencies -->
    <link rel="stylesheet" href="/static/normalize-css/normalize.css" />

    <!-- app stuff -->
    <link rel="stylesheet" type="text/css" href="/client/main.css">
    <link rel="stylesheet" type="text/css" href="/client/menu/menu.css">
    <link rel="stylesheet" type="text/css" href="/client/projectCard/projectCard.css">
    <link rel="stylesheet" type="text/css" href="/client/projectCardAdd/projectCardAdd.css">
</head>
<body ng-controller="mainController">
    <div menu-bar></div>
    <div class="cardList content">
        <div project-card-add></div>
        <div project-card ng-repeat="card in cardList" project-def="card"></div>
    </div>

    <span></span>

    <!-- dependencies -->
    <script type="text/javascript" src="/static/angular/angular.js"></script>

    <!-- app stuff -->
    <script type="text/javascript" src="/client/angular-conf.js"></script>
    <script type="text/javascript" src="/client/index.js"></script>
    <!-- controllers -->
    <script type="text/javascript" src="/client/mainController.js"></script>
    <!-- directives -->
    <script type="text/javascript" src="/client/menu/directive.js"></script>
    <script type="text/javascript" src="/client/projectCard/projectCard.js"></script>
    <script type="text/javascript" src="/client/projectCardAdd/projectCardAdd.js"></script>
    <!-- services -->
    <script type="text/javascript" src="/client/stores/cardStore/index.js"></script>

    <script>

    // (function(window){
    //     var env = <%= JSON.stringify(env) %>;
    //     window.userLang = (env.user || {}).language;
    //     angular.module('ripsaw').value('_rsEnvironment', env);
    // })(window);

    </script>
</body>
</html>

<!-- service ideas:
    convert i18/angular to moment abbreviations

 -->